<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/img/bolivia2.jpg" alt="">
    </div>
    <div class="col-md-4 mt-6">
      <h3 class="text-success text-center">Introduce tu usuario</h3>

      <form action="" class="mt-4">
        <h5 class="text-primary mb-3">Login</h5>
          
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="@egmail.com" name="usuario" [(ngModel)]="usuario">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contraseña" [(ngModel)]="contraseña" >
              <label for="floatingPassword">Password</label>
            </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="rol">
            <option *ngFor="let r of roles" [value]="r">{{r}}</option>
            
          </select>
          <label for="floatingSelect">Role</label>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-success me-md-2" (click)="login()">Login</button>
          </div>
          <a routerLink="signup" class="text-primary" style="text-decoration: none;">¿Necesitas una cuenta? </a>
        
        </form>
      
      
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
